<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>AngularJS : Les Services : Exercice 2</title>
    <script>
      //Enoncé
      /* Les injections de dépendance et les services*/
      /**************************************************************************************************
        AngularJS propose des méthodes permettant de créer des dépendances qu'on peut ensuite injecter dans les contrôleurs. Ces méthode sont la méthode .factory(), .service() et .provider().

        Les Usines (i.e ""fonctions usine")
        - Méthode .factory() :
        Syntaxe : module.factory( 'nomDUsine', maFonctionUsine ); 
        Resultat: Quand on déclare maFonctionUsine comme un argument à injecter dans un contrôleur, par exemple, dans le contrôleur nous aurons accès à la valeur retournée suite à l'exécution de la fonction usine à savoir : maFonctionUsine();

        Les Services
        - Méthode .service() :
        Syntaxe : module.service( 'nomDuService', maFonctionConstructeur ); 
        Résultat: Quand on déclare nomDuService comme argument à injecter dans un contrôleur, par exemple, dans le contrôleur nous aurons accès à une instance de la fonction constructeur à savoir : new maFonctionConstructeur();

        Les Providers
        - Méthode .provider() :
        Syntaxe : module.provider( 'nomDuProvider', maFonctionConstructeur );
        Quand on déclare nomDuProvider comme un argument injectable et si on a prévu une méthode nommée $get dans maFonctionConstructeur, on obtient la valeur de retour de (new maFonctionConstructeur()).$get().

        Les fonctions constructeur utilisées avec la méthode .provider() peuvent être utilisées avec la méthode .config() au chargement du module.
        Syntaxe : module.config(['nomDuProviderProvider', function(nomDuProviderProvider){});
        Dans la fonction en argument nomDuProviderProvider est une instance de maFonctionConstructeur associée à nomDuProvider.

      **************************************************************************************************/
      /*
        1. Chargez Angular JS dans ce document. Le contexte applicatif d'Angular JS doit englober tout le document. Votre application s'appellera angularjsExercice2. Un tutoriel officiel sur le chargement d'Angular JS est disponible ici : https://docs.angularjs.org/tutorial/step_00
      */

      /*
        2. Définissez une fonction usine qui retourne un objet contenant une propriété contenant un tableau de 3 objets représentant des commentaires (titre, corps, date de de publication). L'idée est de "partager" la liste des commentaires entre 2 contrôleurs en utilisant l'usine. 
      */

      /*
        3. Injectez cette fonction usine dans 2 contrôleurs :
        - Le premier contrôleur gère un formulaire qui permet de mettre à jour la liste avec de nouveaux commentaires. Il contient 1 propriété qui contiendra la liste de messages obtenue à partir de l'usine, une propriété pour 1 message et 1 méthode qui permet d'ajouter 1 message à la liste des messages. Ce contrôleur prend en charge la logique applicative du formulaire de saisie de commentaire.

        - Le second contrôleur sera utilisé pour afficher la liste des commentaires. Il contient 1 propriété qui contiendra la liste de message obtenue à partir de l'usine.

        La div contenant le formulaire doit être gérée par le premier contrôleur et doit permettre la sauvegarde des messages dans la liste de messages fournis par l'usine. La deuxième div doit être gérée avec le second contrôleur et provoquer l'affichage de la liste des messages fournies par l'usine. 
      */
    </script>
  </head>
  <body>
    <h3>Les services</h3>
    <div ng-controller="monControleur1 as monCtrl1">
      <h4>Formulaire de sauvegarde de commentaires</h4>
      <form name="monFormulaire" ng-submit="monCtrl1.ajouterMessage()">
        <p>Titre : <input type="text" name="champ_titre" ng-model="monCtrl1.message.titre" /></p>
        <p>Corps : <textarea name="champ_corps" ng-model="monCtrl1.message.corps" ></textarea></p>
        <input type="submit" value="Envoyer"/>
      </form>
    </div>
    <div ng-controller="monControleur2 as monCtrl2">
      <h4>Les Derniers Commentaires</h4>
      <div ng-repeat="message in monCtrl2.listeDeMessages">
        <h5>{{ message.titre }}</h5>
        <p>{{ message.corps }}</p>
      </div>
    </div>
    <!-- On charge le framework Angular JS dans le document -->
    <script src="./lib/angular.min.js"></script>

    <!-- On on écrit ou on charge son script JavaScript utilisant Angular JS -->
    <script>
      //Bonne pratique : programmer en mode strict JavaScript (voir : https://developer.mozilla.org/fr/docs/Web/JavaScript/Reference/Strict_mode)
      'use strict';

      //Bonne pratique : écrire son code dans une fonction anonyme auto-exécutable pour contrôler l'exposition des variables à l'objet global Window. 
      (function(){

        /*
          On créé un module Angular JS à l'aide de la méthode angular.module().
          angular.module() est utilisée ici comme un "setter".
          Voir : https://docs.angularjs.org/api/ng/function/angular.module
        */
        angular.module('angularjsExercice2', []);

        /*
          angular.module() est utilisée ici comme un "getter". La méthode nous retourne une référence à l'objet de type angular.Module créé (voir : https://docs.angularjs.org/api/ng/type/angular.Module).
        */

        /*
          Nous utilisons la méthode .factory() de cet objet pour créer notre service.
        */
        angular.module('angularjsExercice2').factory('gestionnaireDeMessages', [function(){

          var monObjetPartage = {
            listeDeMessages:[{
              titre: 'Lorem',
              corps: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
            },{
              titre: 'Vestibulum',
              corps: 'Vestibulum dictum massa sed risus vestibulum.'
            },{
              titre: 'Quisque',
              corps: 'Quisque sagittis magna odio, blandit ultrices turpis.'
            }]
          };

          return monObjetPartage;

        }]);

        /*
          Nous utilisons la méthode .controller() de cet objet pour créer nos contrôleurs.
          Dans chaque contrôleur nous injectons le service créé à l'aide de la fonction usine.
        */
        angular.module('angularjsExercice2').controller('monControleur1', ['gestionnaireDeMessages', function(gestionnaireDeMessages){
          this.message = {};
          this.ajouterMessage = function(){
            if (this.message) {
              //Ici on ajoute les message dans l'objet fourni par la fonction usine
              gestionnaireDeMessages.listeDeMessages.push(this.message);
              this.message = {};
            };
          };
        }]);

        angular.module('angularjsExercice2').controller('monControleur2', ['gestionnaireDeMessages', function(gestionnaireDeMessages){
          //Ici on utilise les message contenus dans l'objet fourni par la fonction usine
          this.listeDeMessages = gestionnaireDeMessages.listeDeMessages;
        }]);


        /*
          On utilise le module Angular JS créé pour interpréter les expressions et directives Angular JS présente dans le DOM à l'aide de la méthode angular.bootstrap().
          Voir : https://docs.angularjs.org/api/ng/function/angular.bootstrap
        */
        angular.bootstrap(window.document, ['angularjsExercice2'], {strictDi:true});
        /**
          window.document : portion de DOM à interpréter.
          ['angularjsExercice2'] : tableau des modules à utiliser pour interpréter la portion de DOM
          {strictDi:true} : Objet contenant une propriété qui indique à Angular JS de fonctionner à l'aide d'injection de dépendances strictes (notion que nous détaillerons plus tard).
        **/

      })();
      //Fin de la fonction anonyme auto-exécutable
    </script>
  </body>
</html>